exportPattern("^[[:alpha:]]+")

export(compute_binned_met_counts)
export(compute_meta_cells)
export(get_fr_list)
export(cnn_predict)
export(elastic_predict)
export(rf_predict)
export(ensemble_predict)
export(convert_preds_to_matrix)
export(intersect_bed)
import(data.table)
import(GenomicRanges)
import(rdist)
import(doSNOW)
import(reshape2)
import(abind)
import(keras)
import(glmnet)
import(randomForest)




